body > section {
    > section {
        > h3 {
            color: #494949;
        }

        > section {
            padding: 0 1rem;
            min-height: 22vh !important;

            p {
                color: #757575;
            }
        }
    }
}